main {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#adminPage > section {
    margin: 1rem 3rem 1rem 3rem;
}

section header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section header .addIcon {
    margin-left: 1.2rem;
    cursor: pointer;
}

table {
    margin: 1rem 0 1rem 0;
    border-collapse: collapse;
}

table td {
    border: 2px solid lightgray;
    color: #333333;
    padding: 0.4rem 2rem 0.4rem 2rem;
    text-align: center;
    overflow: scroll;
}

table tr:first-child td {
    font-weight: bold;
    color: black;
}

table td svg {
    cursor: pointer;
}

table td svg.editIcon {
    margin-right: 1rem;
}

#noPermissionWarning {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editWindow {
    position: fixed;
    width: 65%;
    max-width: 90vw;
    max-height: 70vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    margin: 0;
    left: calc(50% - 35%);
    top: 20%;
    border-radius: 0.5em;
    border: 2px solid lightgray;
    display: none;
    overflow: scroll;
}

#editWindow h2 {
    letter-spacing: 0.15rem;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0 1rem 0;
    border-bottom: 2px solid lightgray;
    color: #731806;
}

.closeIcon {
    position: absolute;
    right: 0.9rem;
    top: 0.9rem;
    cursor: pointer;
}

#editWindow > .editMenuSection {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: auto;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: none;
}

.editMenuSection > section {
    width: 100%;
    padding: 0 1.5rem 0 1.5rem;
}

#department_edit_menu {
    width: 100% !important;
}
#department_edit_menu section {
    width: auto !important;
}

.editMenuSection h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
    background-color: #a66f63;
    color: white;
    border-radius: 1rem;
    padding: 0.4rem 0.6rem;
}

.editMenuSection div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user_edit_menu input {
    appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid #731806;
    border-radius: 50%;
    margin: 0.6rem 0.6rem 0.6rem 0;
}
#user_edit_menu input:checked {
    border: 6px solid #a3250b;
}

.editMenuSection button {
    width: 100%;
    height: 2.8rem;
    margin: auto;
    margin-top: 2.3rem;
    background-color: #731806;
    font-size: 1rem;
    border-radius: 1rem;
}

.editMenuSection button:hover {
    background-color: #571204;
}

#user_edit_menu form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#department_edit_menu form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#edit_department {
    display: flex;
    flex-direction: row;
}

#edit_department > section {
    margin: 0 1.2rem;
}

#edit_department_agent input {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #731806;
    border-radius: 50%;
    margin: 0.6rem 0.6rem 0.6rem 0;
}
#edit_department_agent input:checked {
    border: 6px solid #a3250b;
}
#agentsSection {
    max-height: 33vh;
    overflow: scroll;
}
#agentsSection > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 35%;
}

#departmentNameSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#departmentNameSection label {
    margin-bottom: 1.2rem;
    font-size: 1rem;
}
#departmentNameSection input {
    width: 90%;
    font-size: 1.2rem;
}