@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --light-black: #1b1c1e;
    --light-grey: #c5c5c5;
    --dark-grey: #949b96;
    --olive: #829191;
    --dark-red: #a20021;
}

* {
    padding: 0px;
    margin: 0px;
}



/* Nav styles*/
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    min-height: 5vh;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 2px;
    list-style: none;
    color: var(--white);
    background-color: var(--light-black);
    z-index: 1;
}
.nav a {
    text-decoration: none;
    color: var(--dark-text);
    padding: 10px;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

.nav a.active {
    background-color: #04AA6D;
    color: white;
}
.shadow-nohov {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

#nav-left {
    position: relative;
    display: flex;
    float: left;
    width: 50%;
    justify-content: flex-start;
    padding-left: 10px;
}


#nav-left span {
    font-family: 'Anton', sans-serif;
    font-size: 18px;
    color: var(--white); 
}

#nav-right {
    overflow: hidden;
    display: flex;
    float: right;
    gap: 1rem;
    width: 50%;
    justify-content: right;
}

#nav-right>li:nth-child(2)>a {
    padding: 7px;
}

#nav-right:last-child {
    padding-right: 10px;
}

.nav .icon{
    display: none;
}

/* Main styles */

main {
    margin-top: 50px;
    padding: 10px;
    min-height: 80vh;
    color: var(--black);
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 30px auto;
    max-width: 600px;
    text-align: center;
}
  
.card .home-card-message p {
    font-size: 18px;
    font-weight: bold;
}


/* Footer styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background-color: var(--olive);
    padding: 20px;
    margin-top: 20px;

}


footer p {
    font-size: 15px;
    color: var(--light-black); /* Change to your desired text color */
}


/* ------------------------------------------------- Standard Layout ------------------------------------------------- */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
}

main {
    flex-grow: 1;
}
