h3 {
    text-align: center;
    margin-top: 2%;
  }

h4 {
    text-align: center;
    margin-top: 2%;
  }
.error-message{
  color: red;
  font-size: 1.5em;
  text-align: left;
  margin-top: 2%;
}
.card.mb-4 {
  position: relative;
  margin-bottom: 5em;
}
.row {
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--mdb-gutter-y)*-1);
  margin-right: calc(var(--mdb-gutter-x)*-0.5);
  margin-left: calc(var(--mdb-gutter-x)*-0.5);
}
.col-sm-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-sm-9 {
  flex: 0 0 auto;
  width: 75%;
}
.mb-0 {
  margin-bottom: 0 !important;
}
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
  border-top: 1px solid;
  opacity: .25;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
}
button.submit{
  background-color: #ce7b10;
  color: white;
}
button.submit:hover {
  background-color: red;
  color: white;
}
