.centered {
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    box-sizing: border-box;
    border: 0.1em solid black;
    text-align: center;
    max-height: 40em;
    max-width: 25em;
}

.error{
  color: red;
  font-size: 1em;
}
.required{
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.centered h2{
  font-size: 2em;
  margin: 0.5em;
  margin-top: 1em;
}
.centered input {
  margin: 0.5em;
}

.centered button {
  display: inline-block;
  border-radius: 4px;
  background-color: #970808;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1em;
  padding: 20px;
  width: 10em;
  transition: all 3s;
  cursor: pointer;
  margin: 0.5em;
  margin-bottom: 2em;
}

.centered button[disabled]:hover {
  cursor: not-allowed;
}

.centered button[disabled]:hover::before {
  content: attr(hover-text);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  color: #fff;
  padding: 0.5em;
  font-size: 0.8em;
  white-space: nowrap;
}

.centered button:not([disabled]) {    
  background-color: #0f3fdd;
}
.row {
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--mdb-gutter-y)*-1);
  margin-right: calc(var(--mdb-gutter-x)*-0.5);
  margin-left: calc(var(--mdb-gutter-x)*-0.5);
}
.col-sm-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-sm-9 {
  flex: 0 0 auto;
  width: 75%;
}
.mb-0 {
  margin-bottom: 0 !important;
}
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
  border-top: 1px solid;
  opacity: .25;
}