@media screen and (max-width: 80em){
    main{
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }
    .topnav a:not(:last-child) {
        display: none;
      }
      
    
    .topnav a.icon {
        float: right;
        display: block;
      }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
    }
    .topnav.responsive a {
        float: none;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    .topnav.responsive a:nth-last-child(2) {
        margin-right: 2em;
      }
    #nav-right {
        display: flex;
        flex-direction: wrap;
        background-color: #1b1c1e;
    }
}



@media screen and (max-width: 50em){
    main{
      grid-template-columns: 100%;
      grid-template-rows: auto;
    }
    .topnav a:not(:last-child) {
        display: none;
      }
      
    
    .topnav a.icon {
        float: right;
        display: block;
      }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: flex;
        text-align: center;
        justify-content: center;
        /* text-align: left; */
    }
    #nav-right {
        display: inline;
        background-color: #1b1c1e;
        top: 5em;
    }
}



@media screen and (max-height: 20em){
  
  
}
